body {
    margin: 0;
    padding: 0;
    color: black;
    background: url(../pimages/concrete3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

 .p5Canvas{
  position: fixed;
  z-index:100000;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
  margin: auto;
 }

 #myVideo {
  position: fixed;
  left: 0;
  top: 0;
  margin-left: 15%;
  /*
    I think that using vw might make more sense here, since it
    seems like you're trying to position based on the screen width
  */
  max-width: 40%;
  transform: rotate(90deg);
}

 .title{
  /*
   Perhaps this element could be styled with flexbox?
   You'd have to have the flexbox container positioned absolute and span across the whole screen, but then
   the title element inside could be aligned and justified to the center, and then just offset.
   You can use transform: translate(); to offset an element, or with position: relative;
  */
  height: 700px;
  left: 50%;
  margin-top: -350px;
  margin-left: -350px;
  position: absolute;
  top: 50%;
  width: 700px;
  animation: rotation 30s infinite linear;
 }

 @keyframes rotation {
  /*
    Nice to see you using css keyframe animations.
    I think that you can set the 0% keyframe to be 0deg, and the 100% to be 360deg, but it's not very important...
  */
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}