body {
    font-family: GlacialIndifference-Regular;
    src: url(../pfonts/GlacialIndifference-Regular.otf);
    margin: 0;
    padding: 0;
    color: black;
    background: rgb(237,205,66);
  }
  .time1{
    font-size: 22em;
    margin-top: 5%;
    margin-left: 22%;
    display: inline-block;
    color: black;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    align-items: center;
    position: absolute; 
    z-index: 1000;
    color:#0b1b5c;
    mix-blend-mode: screen;
  }
 .p5Canvas{
  position: fixed;
  z-index:10;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
  margin: auto;
  box-shadow: -8px 33px 35px 16px rgba(59,255,41,1);
  background-image: url("../pimages/bg2.jpg");
  background-size: cover;
  background-repeat: no-repeat, no-repeat;
 }