body {
    font-family: helvetica, arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
  }
  /* .mycontainer{
    position: fixed;
    display: inline;
    float:left;
  } */

  h1 {
    font-size: 4em;
    margin: 1%;
    font-style: italic;
    color: white;
    font-family: 'Lateef', cursive;
  }
  
  .time1{
    font-size: 1.5em;
    margin: 1%;
    display: inline-block;
  }
  
 .p5Canvas{
    position: fixed;
    z-index:-10;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
 }